.homewatch {
  text-align: center;

  margin: 30px 40px 50px 50px;
}
.btnWatch {
  margin: auto !important;
  box-shadow: 0 0 0px 1px rgb(238, 236, 236);
  width: 100%;
  color: black !important;
  height: 50px !important;
}
.btnWatch:hover {
  background-color: #f8f8f8 !important;
}

.CardContent {
  text-align: center !important;
}
